In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./archive/train.csv",names=["sentiment","short","review"])

In [4]:
df.head()

,sentiment,short,review
0,2,Stuning even for the non-gamer,This sound track was beautiful! It paints the ...
1,2,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
2,2,Amazing!,This soundtrack is my favorite music of all ti...
3,2,Excellent Soundtrack,I truly like this soundtrack and I enjoy video...
4,2,"Remember, Pull Your Jaw Off The Floor After He...","If you've played the game, you know how divine..."

In [6]:
df.shape

(3600000, 3)

In [7]:
STOPWORDS = {
    "a", "an", "the", "and", "or", "but", "if", "while",
    "is", "are", "was", "were", "be", "been", "being",
    "to", "of", "in", "on", "for", "with", "as", "by",
    "this", "that", "these", "those",
    "it", "its", "at", "from"
}

In [10]:
import re
def clean_review(text):
    if pd.isna(text):
        return ""

    text = text.lower()
    text = re.sub(r"[^a-z\s]", " ", text)

    tokens = [
        word for word in text.split()
        if word not in STOPWORDS and len(word) > 2
    ]

    return " ".join(tokens)

# Apply cleaning
df["review"] = df["review"].apply(clean_review)

In [22]:
df = df.drop(columns=['short'])

In [23]:
df.head()

   sentiment                                             review
0          2  sound track beautiful paints senery your mind ...
1          2  reading lot reviews saying best game soundtrac...
2          2  soundtrack favorite music all time hands down ...
3          2  truly like soundtrack enjoy video game music h...
4          2  you played game you know how divine music ever...

In [24]:
df.to_csv('proce_train.csv', index=False, header=False)